Repository USEPA/haztrak, pull requests merged in 2022-11, with the labels that each got.

#165 Could not open requirements file: [Errno 2] No such file or directory…
  docs/README.md
Labels: documentation

#176 fix transporter search, dump updated handler models to ficture files
  docker-compose.dev.yaml
  server/apps/trak/views/transporter.py
  server/tests/fixtures/test_data.json
Labels: django

#180 modal for transporter search Form
  client/src/components/HtCard/HtCard.tsx
  client/src/components/ManifestForm/ManifestForm/ManifestForm.tsx
Labels: reactjs

#187 178 search transporter form
  .github/labeler.yml
  .github/workflows/test_server.yaml
  client/src/App.tsx
  client/src/components/HtCard/HtCard.tsx
  client/src/components/ManifestForm/ManifestForm/ManifestForm.tsx
  client/src/components/ManifestForm/Transporter/TransporterRowActions.tsx
  client/src/components/ManifestForm/Transporter/TransporterSearch.tsx
  client/src/components/ManifestForm/Transporter/TransporterSearchForm.tsx
  client/src/components/ManifestForm/Transporter/TransporterTable.tsx
  client/src/components/ManifestForm/Transporter/index.ts
  client/src/features/manifest/Manifest.tsx
  client/src/features/manifest/ManifestDetails/ManifestDetails.tsx
  client/src/services/api.ts
  client/src/types/Manifest/Manifest.ts
Labels: reactjs

#192 add new error boundary component, add to HtCard and App compenents
  .github/pull_request_template.md
  .idea/runConfigurations/Backend.xml
  client/src/App.tsx
  client/src/components/ErrorBoundary/ErrorBoundary.tsx
  client/src/components/ErrorBoundary/index.ts
  client/src/components/HtCard/HtCard.spec.tsx
  client/src/components/HtCard/HtCard.tsx
  docker-compose.dev.yaml
Labels: reactjs

#193 move useFieldArray hook to ManifestForm, pass append method as props,…
  client/src/components/ErrorBoundary/ErrorBoundary.tsx
  client/src/components/ManifestForm/ManifestForm/ManifestForm.tsx
  client/src/components/ManifestForm/Transporter/TransporterSearch.tsx
  client/src/components/ManifestForm/Transporter/TransporterSearchForm.tsx
Labels: reactjs

#198 Client test additions
  .github/workflows/test_client.yaml
  .github/workflows/test_server.yaml
  .idea/runConfigurations/Run_Client.xml
  .idea/runConfigurations/Test_Client.xml
  .idea/scopes/client.xml
  client/.dockerignore
  client/package-lock.json
  client/package.json
  client/public/mockServiceWorker.js
  client/src/App.tsx
  client/src/app/store.ts
  client/src/app/user.slice.ts
  client/src/app/user.spec.ts
  client/src/components/HtCard/HtCard.spec.tsx
  client/src/components/HtTooltip/HtTooltip.spec.tsx
  client/src/components/HtTooltip/HtTooltip.tsx
  client/src/components/HtTooltip/index.ts
  client/src/components/Nav/Sidebar.tsx
  client/src/components/Nav/TopNav.tsx
  client/src/components/PrivateRoute/PrivateRoute.tsx
  client/src/components/PrivateRoute/index.ts
  client/src/features/home/Home.spec.tsx
  client/src/features/home/Home.tsx
  client/src/features/login/Login.tsx
  client/src/features/login/login.spec.tsx
  client/src/features/manifest/ManifestDetails/ManifestDetails.tsx
  client/src/features/site/SiteDetails/SiteDetails.tsx
  client/src/features/site/SiteList/SiteList.spec.tsx
  client/src/features/site/SiteList/SiteList.tsx
  client/src/features/site/SiteManifests/SiteManifests.tsx
  client/src/features/site/Sites.tsx
  client/src/index.tsx
  client/src/mocks/browser.js
  client/src/mocks/handlers.js
  client/src/mocks/index.ts
  client/src/types/Handler/Site.ts
  client/src/types/Handler/index.ts
  client/src/utils/index.ts
  client/src/utils/test-wrapper.tsx
  client/src/utils/utils.ts
  configs/.env.dev
  configs/.env.example
  docs/Configuration.md
  server/apps/accounts/views/auth.py
  server/apps/accounts/views/profile.py
Labels: django, reactjs

#199 Fix: convert Handler to new Transporter type on manifest
  client/src/components/ManifestForm/HandlerForm/HandlerForm.tsx
  client/src/components/ManifestForm/ManifestForm/ManifestForm.tsx
  client/src/components/ManifestForm/Transporter/TransporterSearch.tsx
  client/src/components/ManifestForm/Transporter/TransporterSearchForm.tsx
  client/src/components/ManifestForm/Transporter/TransporterTable.tsx
  client/src/types/Manifest/Manifest.ts
  client/src/types/Transporter/Transporter.ts
Labels: reactjs

#203 add WasteLine component and add to manifest with modal
  client/src/components/ManifestForm/ManifestForm/ManifestForm.tsx
  client/src/components/ManifestForm/WasteLine/WasteLine.tsx
  client/src/components/ManifestForm/WasteLine/index.ts
  client/src/components/ManifestForm/index.ts
Labels: reactjs

#205 ManifestForm Tsdf UI placeholder
  client/src/components/ManifestForm/ManifestForm/ManifestForm.tsx
  client/src/components/ManifestForm/Tsdf/Tsdf.tsx
  client/src/components/ManifestForm/Tsdf/index.ts
Labels: reactjs

#206 194 transporter remove action
  client/src/components/ManifestForm/ManifestForm/ManifestForm.tsx
  client/src/components/ManifestForm/Transporter/TransporterSearch.tsx
  client/src/components/ManifestForm/Transporter/TransporterSearchForm.tsx
  client/src/components/ManifestForm/Transporter/TransporterTable.tsx
  client/src/components/ManifestForm/Transporter/TransporterTable/TransporterRowActions.tsx
  client/src/components/ManifestForm/Transporter/TransporterTable/TransporterTable.tsx
  client/src/components/ManifestForm/Transporter/TransporterTable/index.ts
  client/src/components/ManifestForm/Transporter/index.ts
Labels: reactjs

#209 add HtSpinner, refactor out of HtCard, initial HtError
  client/src/App.tsx
  client/src/components/HtCard/HtCard.tsx
  client/src/components/HtError/HtError.tsx
  client/src/components/HtError/index.ts
  client/src/components/HtSpinner/HtSpinner.tsx
  client/src/components/HtSpinner/index.ts
  client/src/features/manifest/ManifestDetails/ManifestDetails.tsx
Labels: reactjs
