Repository USEPA/haztrak, pull requests merged in 2022-12, with the labels that each got.

#212 183 waste line form
  .github/dependabot.yml
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/public/mockServiceWorker.js
  client/src/App.scss
  client/src/App.tsx
  client/src/components/HtCard/HtCard.tsx
  client/src/components/HtTooltip/HtTooltip.tsx
  client/src/components/ManifestForm/AdditionalInfo/AdditionalInfoForm.tsx
  client/src/components/ManifestForm/AdditionalInfo/index.ts
  client/src/components/ManifestForm/HandlerForm/HandlerForm.tsx
  client/src/components/ManifestForm/HandlerForm/HandlerSchema.ts
  client/src/components/ManifestForm/ManifestForm.tsx
  client/src/components/ManifestForm/Transporter/AddTransporter.tsx
  client/src/components/ManifestForm/Transporter/TransporterSearchForm.tsx
  client/src/components/ManifestForm/Transporter/TransporterTable/TransporterTable.tsx
  client/src/components/ManifestForm/Transporter/index.ts
  client/src/components/ManifestForm/WasteLine/AddWasteLine.tsx
  client/src/components/ManifestForm/WasteLine/HazardousWasteForm.tsx
  client/src/components/ManifestForm/WasteLine/QuantityForm.tsx
  client/src/components/ManifestForm/WasteLine/WasteLine.tsx
  client/src/components/ManifestForm/WasteLine/WasteLineForm.tsx
  client/src/components/ManifestForm/WasteLine/index.ts
  client/src/features/manifest/ManifestDetails/ManifestDetails.tsx
  client/src/features/site/SiteList/SiteList.tsx
  client/src/features/site/SiteManifests/SiteManifests.tsx
  client/src/index.tsx
  client/src/types/Handler/Handler.ts
  client/src/types/Manifest/AdditionalInfo.ts
  client/src/types/Manifest/Correction.ts
  client/src/types/Manifest/Manifest.ts
  client/src/types/Manifest/Rejection.ts
  client/src/types/Manifest/Waste/index.ts
  client/src/types/WasteLine/WasteLine.ts
  client/src/types/WasteLine/index.ts
  docs/schemas_and_examples/100032524ELC.json
  docs/schemas_and_examples/emanifest_schema.json
  docs/schemas_and_examples/handler_schema.json
  server/requirements.txt
Labels: reactjs

#219 initial waste line table display
  client/src/components/ManifestForm/ManifestForm.tsx
  client/src/components/ManifestForm/Transporter/TransporterTable/TransporterTable.tsx
  client/src/components/ManifestForm/WasteLine/WasteLineTable/WasteLineTable.tsx
  client/src/components/ManifestForm/WasteLine/WasteLineTable/index.ts
Labels: enhancement, reactjs

#222 Server cleanup
  docs/Configuration.md
  docs/Deployment.md
  runhaz.sh
  server/.dockerignore
  server/apps/accounts/migrations/0001_initial.py
  server/apps/accounts/migrations/0002_alter_profile_epa_sites.py
  server/apps/accounts/migrations/0003_alter_profile_epa_sites.py
  server/apps/accounts/migrations/0004_alter_profile_epa_sites.py
  server/apps/home/apps.py
  server/apps/home/migrations/__init__.py
  server/apps/home/urls.py
  server/apps/home/views.py
  server/apps/trak/migrations/0001_initial.py
  server/apps/trak/migrations/0002_address_remove_handler_mail_address1_and_more.py
  server/apps/trak/migrations/0003_alter_handler_mail_address_and_more.py
  server/apps/trak/migrations/0004_alter_address_country_alter_address_state.py
  server/apps/trak/migrations/0005_alter_address_country_alter_address_state.py
  server/apps/trak/migrations/0006_alter_address_country_alter_address_state.py
  server/apps/trak/migrations/0007_delete_electronicsignature.py
  server/apps/trak/migrations/0008_alter_address_state.py
  server/apps/trak/migrations/0009_alter_address_country.py
  server/apps/trak/migrations/0010_handler_site_type.py
  server/apps/trak/serializers/address.py
  server/apps/trak/serializers/handler.py
  server/apps/trak/serializers/manifest/manifest.py
  server/apps/trak/serializers/manifest/waste_line.py
  server/apps/trak/serializers/trak.py
  server/apps/trak/tests/__init__.py
  server/apps/trak/tests/serializers/__init__.py
  server/apps/trak/tests/serializers/json/test_address.json
  server/apps/trak/tests/serializers/json/test_manifest.json
  server/apps/trak/tests/serializers/json/test_site.json
  server/apps/trak/tests/serializers/json/test_wasteline1.json
  server/apps/trak/tests/serializers/test_serializers.py
  server/apps/trak/tests/views/__init__.py
  server/apps/trak/tests/views/json/test_manifest.json
  server/apps/trak/tests/views/test_manifest_api.py
  server/apps/trak/tests/views/test_site_api.py
  server/fixtures/dev_data.json
  server/haztrak/settings.py
  server/haztrak/urls.py
  server/lib/serializers/__init__.py
  server/tests/fixtures/test_data.json
  server/tests/fixtures/test_waste_line.json
  server/tests/models/__init__.py
  server/tests/models/test_waste_line_model.py
  server/tests/serializers/__init__.py
  server/tests/site/__init__.py
Labels: django, database, test

#223 Add PyTest to test runner
  .github/workflows/test_server.yaml
  .idea/runConfigurations/Test_All.xml
  .idea/runConfigurations/Test_Server.xml
  runhaz.sh
  server/apps/trak/serializers/manifest/waste_line.py
  server/apps/trak/tests/serializers/test_serializers.py
  server/apps/trak/tests/test_models.py
  server/pytest.ini
  server/requirements_dev.txt
Labels: django

#224 202 transporter row action swap order
  client/src/components/ManifestForm/ManifestForm.tsx
  client/src/components/ManifestForm/Transporter/TransporterTable/TransporterRowActions.spec.tsx
  client/src/components/ManifestForm/Transporter/TransporterTable/TransporterRowActions.tsx
  client/src/components/ManifestForm/Transporter/TransporterTable/TransporterTable.spec.tsx
  client/src/components/ManifestForm/Transporter/TransporterTable/TransporterTable.tsx
  client/src/types/Manifest/Contact.ts
  docker-compose.dev.yaml
  server/apps/trak/views/handler.py
  server/apps/trak/views/manifest.py
  server/apps/trak/views/sites.py
Labels: django, reactjs, test

#225 201 handler search endpoint mods
  .github/workflows/test_server.yaml
  .gitignore
  .idea/runConfigurations/client_dev.xml
  .idea/runConfigurations/pytest.xml
  client/src/components/ManifestForm/Transporter/TransporterSearchForm.tsx
  client/src/features/manifest/ManifestDetails/ManifestDetails.tsx
  client/src/services/api.ts
  server/apps/trak/tests/conftest.py
  server/apps/trak/tests/models/__init__.py
  server/apps/trak/tests/models/test_address.py
  server/apps/trak/tests/models/test_handler.py
  server/apps/trak/tests/serializers/test_serializers.py
  server/apps/trak/tests/test_models.py
  server/apps/trak/tests/views/test_handler_api.py
  server/apps/trak/tests/views/test_handler_search_api.py
  server/apps/trak/tests/views/test_manifest_api.py
  server/apps/trak/urls.py
  server/apps/trak/views/__init__.py
  server/apps/trak/views/handler.py
  server/apps/trak/views/transporter.py
  server/haztrak/settings.py
  server/pytest.ini
  server/setup.cfg
Labels: django, reactjs

#227 226 update poc in servicesapits
  client/src/components/ManifestForm/Transporter/TransporterSearchForm.tsx
  client/src/features/manifest/ManifestDetails/ManifestDetails.tsx
  client/src/features/site/SiteDetails/SiteDetails.tsx
  client/src/features/site/SiteList/SiteList.tsx
  client/src/features/site/SiteManifests/SiteManifests.tsx
  client/src/redux/user.slice.ts
  client/src/services/HtApi.ts
  client/src/services/api.ts
  client/src/services/index.ts
Labels: reactjs

#228 UseHtAPI custom hook
  client/src/App.tsx
  client/src/components/HtCard/HtCard.tsx
  client/src/components/HtError/HtError.tsx
  client/src/components/HtError/index.ts
  client/src/components/PrivateRoute/PrivateRoute.tsx
  client/src/features/manifest/ManifestDetails/ManifestDetails.tsx
  client/src/features/site/SiteDetails/SiteDetails.tsx
  client/src/features/site/SiteList/SiteList.tsx
  client/src/hooks/useHtAPI/index.ts
  client/src/hooks/useHtAPI/useHtAPI.spec.tsx
  client/src/hooks/useHtAPI/useHtAPI.tsx
  client/src/services/HtApi.ts
Labels: reactjs

#231 Tsdf search form
  .editorconfig
  .idea/scopes/project_w_o_dependencies.xml
  .idea/scopes/tests.xml
  client/src/components/AddButton/AddButton.tsx
  client/src/components/AddButton/index.ts
  client/src/components/HandlerDetails/AddressListGroup.tsx
  client/src/components/HandlerDetails/HandlerDetails.tsx
  client/src/components/HandlerDetails/index.ts
  client/src/components/ManifestForm/AdditionalInfo/AdditionalInfoForm.tsx
  client/src/components/ManifestForm/HandlerSearch/HandlerSearchForm.tsx
  client/src/components/ManifestForm/HandlerSearch/TransporterSearchForm.tsx
  client/src/components/ManifestForm/HandlerSearch/index.ts
  client/src/components/ManifestForm/ManifestForm.tsx
  client/src/components/ManifestForm/Transporter/AddTransporter.tsx
  client/src/components/ManifestForm/Transporter/TransporterTable/TransporterTable.spec.tsx
  client/src/components/ManifestForm/Tsdf/AddTsdf.tsx
  client/src/components/ManifestForm/Tsdf/index.ts
  client/src/features/site/SiteDetails/SiteDetails.tsx
  client/src/features/site/SiteList/SiteList.spec.tsx
  client/src/features/site/SiteList/SiteList.tsx
  client/src/test/fixtures/index.ts
  client/src/test/fixtures/mockHandler.ts
  client/src/types/Handler/Handler.ts
  client/src/types/Handler/Site.ts
  server/apps/trak/migrations/0002_alter_handler_site_type.py
  server/apps/trak/models/handler.py
  server/apps/trak/serializers/sites.py
  server/apps/trak/tests/views/test_site_api.py
  server/fixtures/dev_data.json
Labels: django, reactjs, database

#232 Accessibility focus additions
  client/.dockerignore
  client/src/App.scss
  client/src/components/HtCard/HtCard.tsx
  client/src/components/ManifestForm/AdditionalInfo/AdditionalInfoForm.tsx
  client/src/components/ManifestForm/AddressForm/AddressForm.tsx
  client/src/components/ManifestForm/HandlerForm/HandlerForm.tsx
  client/src/components/ManifestForm/HandlerSearch/HandlerSearchForm.tsx
  client/src/components/ManifestForm/HandlerSearch/TransporterSearchForm.tsx
  client/src/components/ManifestForm/ManifestForm.tsx
  client/src/components/ManifestForm/Transporter/TransporterTable/TransporterRowActions.spec.tsx
  client/src/components/ManifestForm/Transporter/TransporterTable/TransporterRowActions.tsx
  client/src/components/ManifestForm/WasteLine/WasteLineForm.tsx
  client/src/components/Nav/TopNav.tsx
  client/src/features/help/About.tsx
  client/src/features/home/Home.tsx
  client/src/features/login/Login.tsx
  client/src/features/manifest/ManifestDetails/ManifestDetails.tsx
  client/src/features/manifest/ManifestEdit/ManifestEdit.tsx
  client/src/features/profile/Profile.tsx
  client/src/features/site/SiteDetails/SiteDetails.tsx
  client/src/features/site/SiteList/SiteList.tsx
  client/src/features/site/SiteManifests/SiteManifests.tsx
  client/src/features/site/Sites.tsx
  client/src/hooks/useTitle/index.ts
  client/src/hooks/useTitle/useTitle.spec.tsx
  client/src/hooks/useTitle/useTitle.tsx
Labels: reactjs

#233 Notification slice
  client/src/App.scss
  client/src/App.tsx
  client/src/components/ManifestForm/HandlerSearch/HandlerSearchForm.tsx
  client/src/components/ManifestForm/HandlerSearch/TransporterSearchForm.tsx
  client/src/components/Nav/Sidebar.tsx
  client/src/components/Nav/TopNav.tsx
  client/src/components/Notification/Notification.tsx
  client/src/components/Notification/index.ts
  client/src/features/home/Home.tsx
  client/src/features/login/Login.tsx
  client/src/features/profile/Profile.tsx
  client/src/index.tsx
  client/src/services/HtApi.ts
  client/src/store/NotificationSlice/Notification.slice.ts
  client/src/store/NotificationSlice/Notification.spec.ts
  client/src/store/NotificationSlice/index.ts
  client/src/store/UserSlice/index.ts
  client/src/store/UserSlice/user.slice.ts
  client/src/store/UserSlice/user.spec.ts
  client/src/store/hooks.ts
  client/src/store/index.ts
  client/src/store/store.ts
  client/src/test/index.tsx
  client/src/types/store/index.ts
  client/src/types/store/notificationSlice.ts
Labels: reactjs

#238 Contact Form and various tests for client space
  .idea/runConfigurations/Run_Client.xml
  client/src/components/HandlerDetails/HandlerDetails.spec.tsx
  client/src/components/HtCard/HtCard.spec.tsx
  client/src/components/ManifestForm/AdditionalInfo/AdditionalInfoForm.tsx
  client/src/components/ManifestForm/AdditionalInfo/AdditionalinfoForm.spec.tsx
  client/src/components/ManifestForm/AddressForm/AddressForm.spec.tsx
  client/src/components/ManifestForm/AddressForm/AddressForm.tsx
  client/src/components/ManifestForm/AddressForm/StateSelect.tsx
  client/src/components/ManifestForm/ContactForm/ContactForm.spec.tsx
  client/src/components/ManifestForm/ContactForm/ContactForm.tsx
  client/src/components/ManifestForm/ContactForm/index.ts
  client/src/components/ManifestForm/HandlerForm/HandlerForm.spec.tsx
  client/src/components/ManifestForm/HandlerForm/HandlerForm.tsx
  client/src/components/ManifestForm/HandlerSearch/HandlerSearchForm.tsx
  client/src/components/ManifestForm/HandlerSearch/TransporterSearchForm.tsx
  client/src/components/ManifestForm/ManifestForm.tsx
  client/src/components/ManifestForm/Transporter/TransporterTable/TransporterTable.spec.tsx
  client/src/components/ManifestForm/WasteLine/HazardousWasteForm.tsx
  client/src/components/ManifestForm/WasteLine/QuantityForm.tsx
  client/src/components/ManifestForm/WasteLine/WasteLineForm.tsx
  client/src/components/Nav/Sidebar.spec.tsx
  client/src/components/Nav/Sidebar.tsx
  client/src/components/Nav/TopNav.spec.tsx
  client/src/components/Notification/Notification.tsx
  client/src/features/home/Home.spec.tsx
  client/src/features/manifest/ManifestEdit/ManifestEdit.tsx
  client/src/features/site/SiteList/SiteList.spec.tsx
  client/src/features/site/SiteManifests/SiteManifests.tsx
  client/src/store/UserSlice/user.slice.ts
  client/src/store/UserSlice/user.spec.ts
  client/src/test/fixtures/index.ts
  client/src/test/fixtures/mockHandler.ts
  client/src/test/fixtures/mockManifest.ts
  client/src/test/fixtures/mockWaste.ts
  client/src/test/index.tsx
  client/src/test/mock/handlers.js
  client/src/types/Handler/Handler.ts
  client/src/types/Handler/Site.ts
  client/src/types/Handler/Transporter.ts
  client/src/types/Handler/index.ts
  client/src/types/Manifest/AdditionalInfo.ts
  client/src/types/Manifest/Manifest.ts
  client/src/types/WasteLine/WasteLine.ts
  client/src/types/WasteLine/index.ts
  client/src/types/store.ts
  client/src/types/store/index.ts
  client/src/types/store/notificationSlice.ts
  docs/schemas_and_examples/manifest_from_haztrak.json
  server/apps/trak/serializers/handler.py
Labels: django, reactjs

#239 Manifest crud endpoint
  client/src/components/ManifestForm/AddressForm/AddressForm.tsx
  client/src/components/ManifestForm/AddressForm/StateSelect.tsx
  client/src/components/ManifestForm/ManifestForm.tsx
  client/src/features/home/Home.tsx
  server/apps/trak/migrations/0003_alter_manifest_status.py
  server/apps/trak/migrations/0004_alter_manifest_mtn.py
  server/apps/trak/models/manifest.py
  server/apps/trak/serializers/manifest/manifest.py
  server/apps/trak/tests/views/test_manifest_api.py
  server/apps/trak/urls.py
  server/apps/trak/views/manifest.py
  server/lib/rcrainfo/lookups.py
Labels: django, reactjs, database

#242 Rcra info user endpoint
  .idea/runConfigurations/Celery_Local.xml
  .idea/runConfigurations/Compose_Dev.xml
  .idea/runConfigurations/Compose_Up.xml
  client/src/features/home/Home.spec.tsx
  client/src/store/UserSlice/user.slice.ts
  client/src/test/mock/handlers.js
  configs/.env.dev
  configs/.env.example
  docker-compose.dev.yaml
  docker-compose.yaml
  docs/API/openapi-schema.yaml
  docs/Configuration.md
  server/apps/accounts/admin.py
  server/apps/accounts/apps.py
  server/apps/accounts/migrations/0001_initial.py
  server/apps/accounts/serializers/__init__.py
  server/apps/accounts/tasks.py
  server/apps/accounts/urls.py
  server/apps/accounts/views/__init__.py
  server/apps/trak/admin.py
  server/apps/trak/management/__init__.py
  server/apps/trak/management/commands/__init__.py
  server/apps/trak/management/commands/celery_worker.py
  server/apps/trak/migrations/0001_initial.py
  server/apps/trak/migrations/0002_alter_handler_site_type.py
  server/apps/trak/migrations/0003_alter_manifest_status.py
  server/apps/trak/migrations/0004_alter_manifest_mtn.py
  server/apps/trak/models/__init__.py
  server/apps/trak/models/profile.py
  server/apps/trak/serializers/__init__.py
  server/apps/trak/serializers/profile.py
  server/apps/trak/signals.py
  server/apps/trak/tasks/__init__.py
  server/apps/trak/tasks/profile.py
  server/apps/trak/tests/conftest.py
  server/apps/trak/tests/views/test_handler_api.py
  server/apps/trak/tests/views/test_manifest_api.py
  server/apps/trak/tests/views/test_site_api.py
  server/apps/trak/urls.py
  server/apps/trak/views/__init__.py
  server/apps/trak/views/profile.py
  server/apps/trak/views/sites.py
  server/fixtures/dev_data.json
  server/fixtures/user_search_response.json
  server/haztrak/celery.py
  server/haztrak/settings.py
  server/requirements.txt
  server/requirements_dev.txt
Labels: django, reactjs, database

#244 243 rcraprofile form
  .idea/runConfigurations/Test_Client.xml
  README.md
  client/src/App.tsx
  client/src/features/home/Home.spec.tsx
  client/src/features/home/Home.tsx
  client/src/features/profile/Profile.tsx
  client/src/features/profile/RcraProfile/RcraProfile.tsx
  client/src/features/profile/RcraProfile/index.ts
  client/src/features/profile/UserProfile/UserProfile.tsx
  client/src/features/profile/UserProfile/index.ts
  client/src/store/NotificationSlice/Notification.slice.ts
  client/src/store/UserSlice/user.slice.ts
  client/src/store/UserSlice/user.spec.ts
  client/src/store/store.ts
  client/src/test/fixtures/index.ts
  client/src/test/fixtures/mockHandler.ts
  client/src/test/index.tsx
  client/src/test/mock/handlers.js
  client/src/types/store.ts
  docs/API/openapi-schema.yaml
  docs/schemas_and_examples/user_search_response.json
  server/apps/trak/migrations/0002_rename_rcra_user_name_rcraprofile_rcra_username_and_more.py
  server/apps/trak/models/__init__.py
  server/apps/trak/models/rcra_profile.py
  server/apps/trak/serializers/__init__.py
  server/apps/trak/serializers/rcra_profile.py
  server/apps/trak/tests/conftest.py
  server/apps/trak/urls.py
  server/apps/trak/views/__init__.py
  server/apps/trak/views/profile.py
  server/fixtures/dev_data.json
  server/requirements.txt
  server/requirements_dev.txt
  server/setup.cfg
Labels: django, reactjs, database

#250 Update rcra profile endpoint
  server/apps/trak/tests/conftest.py
  server/apps/trak/tests/views/test_handler_api.py
  server/apps/trak/tests/views/test_rcra_profile.py
  server/apps/trak/views/__init__.py
  server/apps/trak/views/rcra_profile.py
  server/requirements.txt
Labels: django

#251 245 separate user rcraprofile state
  client/src/features/home/Home.tsx
  client/src/features/profile/Profile.tsx
  client/src/features/profile/RcraProfile/RcraProfile.tsx
  client/src/features/profile/UserProfile/UserProfile.tsx
  client/src/index.tsx
  client/src/store/NotificationSlice/index.ts
  client/src/store/UserSlice/index.ts
  client/src/store/UserSlice/user.spec.ts
  client/src/store/hooks.ts
  client/src/store/index.ts
  client/src/store/notificationSlice/index.ts
  client/src/store/notificationSlice/notification.slice.ts
  client/src/store/notificationSlice/notification.spec.ts
  client/src/store/rcraProfileSlice/index.ts
  client/src/store/rcraProfileSlice/rcraProfile.slice.ts
  client/src/store/rcraProfileSlice/rcraProfileSlice.spec.ts
  client/src/store/store.ts
  client/src/store/userSlice/index.ts
  client/src/store/userSlice/user.slice.ts
  client/src/store/userSlice/user.spec.ts
  client/src/types/store.ts
Labels: reactjs

#258 removes notification badge when no. of alerts is 0
  client/src/components/Notification/Notification.tsx
Labels: reactjs
