Repository USEPA/haztrak, pull requests merged in 2023-01, with the labels that each got.

#262 New documentation on GH pages and workflow
  .editorconfig
  .github/workflows/build_client.yaml
  .github/workflows/build_server.yaml
  .github/workflows/mdbook.yaml
  .github/workflows/test_client.yaml
  .github/workflows/test_server.yaml
  .idea/runConfigurations/mdbook.xml
  docs/CONTRIBUTING.html
  docs/CONTRIBUTING.md
  docs/Deployment.md
  docs/README.md
  docs/haztrak_book/.gitignore
  docs/haztrak_book/book.toml
  docs/haztrak_book/src/Overview/design.md
  docs/haztrak_book/src/Overview/index.md
  docs/haztrak_book/src/Overview/source_structure.md
  docs/haztrak_book/src/References/demos.md
  docs/haztrak_book/src/References/future_maintainers.md
  docs/haztrak_book/src/SUMMARY.md
  docs/haztrak_book/src/Setup/configuration.md
  docs/haztrak_book/src/Setup/contributing.md
  docs/haztrak_book/src/Setup/index.md
  docs/haztrak_book/src/Setup/local_dev_setup.md
  docs/haztrak_book/src/about_e-Manifest.md
  docs/haztrak_book/src/contributing.md
  docs/haztrak_book/src/introduction.md
  docs/haztrak_book/src/rcrainfo_integration/index.md
  docs/haztrak_book/src/rcrainfo_integration/manifest.md
  docs/haztrak_book/src/rcrainfo_integration/rcrainfo-profile.md
  docs/haztrak_book/src/rcrainfo_integration/rcrainfo_profile.md
  docs/haztrak_book/src/rcrainfo_integration/sync-site-manifest.md
  docs/haztrak_book/src/rcrainfo_integration/update-manifest.md
  docs/haztrak_book/src/rcrainfo_integration/update_manifest.md
Labels: documentation

#282 169 contact and Phone modal
  client/src/services/HtApi.ts
  server/apps/trak/admin.py
  server/apps/trak/migrations/0003_epaphone_and_contact.py
  server/apps/trak/models/__init__.py
  server/apps/trak/models/contact.py
  server/apps/trak/models/handler.py
  server/apps/trak/serializers/contact.py
  server/apps/trak/serializers/handler.py
  server/apps/trak/serializers/trak.py
  server/apps/trak/tasks/profile.py
  server/apps/trak/tests/conftest.py
  server/apps/trak/tests/serializers/json/contact/good_contact.json
  server/apps/trak/tests/serializers/json/contact/phone.json
  server/apps/trak/tests/serializers/test_contact_serializer.py
  server/apps/trak/tests/serializers/test_serializers.py
  server/apps/trak/tests/serializers/test_wl_serializer.py
  server/apps/trak/tests/views/test_handler_api.py
Labels: django, reactjs, database

#288 Transporter handler relation
  .github/workflows/gh_pages.yaml
  docker-compose.yaml
  server/apps/trak/migrations/0001_initial.py
  server/apps/trak/migrations/0002_alter_transporter_manifest.py
  server/apps/trak/migrations/0002_rename_rcra_user_name_rcraprofile_rcra_username_and_more.py
  server/apps/trak/migrations/0003_alter_site_epa_site.py
  server/apps/trak/migrations/0003_epaphone_and_contact.py
  server/apps/trak/models/address.py
  server/apps/trak/models/contact.py
  server/apps/trak/models/handler.py
  server/apps/trak/models/manifest.py
  server/apps/trak/models/rcra_profile.py
  server/apps/trak/models/sites.py
  server/apps/trak/models/transporter.py
  server/apps/trak/models/waste.py
  server/apps/trak/serializers/__init__.py
  server/apps/trak/serializers/address.py
  server/apps/trak/serializers/contact.py
  server/apps/trak/serializers/handler.py
  server/apps/trak/serializers/manifest.py
  server/apps/trak/serializers/manifest/__init__.py
  server/apps/trak/serializers/manifest/transporter.py
  server/apps/trak/serializers/rcra_profile.py
  server/apps/trak/serializers/sites.py
  server/apps/trak/serializers/trak.py
  server/apps/trak/serializers/transporter.py
  server/apps/trak/serializers/waste_line.py
  server/apps/trak/tests/serializers/test_serializers.py
  server/apps/trak/tests/views/test_rcra_profile.py
  server/apps/trak/urls.py
  server/apps/trak/views/handler.py
  server/apps/trak/views/manifest.py
  server/apps/trak/views/sites.py
Labels: django, database

#289 Adds sad path validation to the frontend when backend fails to get site list
  client/src/features/site/SiteList/SiteList.tsx
Labels: reactjs

#299 Adds HtModal component and refactors existing components which directly use react-bootstrap Modal component
  client/src/components/HtModal/HtModal.spec.tsx
  client/src/components/HtModal/HtModal.tsx
  client/src/components/HtModal/index.ts
  client/src/components/ManifestForm/HandlerSearch/HandlerSearchForm.tsx
  client/src/components/ManifestForm/HandlerSearch/TransporterSearchForm.tsx
  client/src/components/ManifestForm/Transporter/AddTransporter.tsx
  client/src/components/ManifestForm/Tsdf/AddTsdf.tsx
  client/src/components/ManifestForm/WasteLine/AddWasteLine.tsx
  client/src/features/site/SiteList/SiteList.tsx
Labels: reactjs

#307 Site permission model & serializer(s)
  .github/labeler.yml
  server/apps/trak/admin.py
  server/apps/trak/migrations/0003_alter_site_epa_site.py
  server/apps/trak/migrations/0003_alter_site_epa_site_sitepermission.py
  server/apps/trak/models/__init__.py
  server/apps/trak/models/rcra_profile.py
  server/apps/trak/serializers/__init__.py
  server/apps/trak/serializers/address.py
  server/apps/trak/serializers/contact.py
  server/apps/trak/serializers/handler.py
  server/apps/trak/serializers/manifest.py
  server/apps/trak/serializers/rcra_profile.py
  server/apps/trak/serializers/sites.py
  server/apps/trak/serializers/transporter.py
  server/apps/trak/serializers/waste_line.py
  server/apps/trak/tests/conftest.py
  server/apps/trak/tests/serializers/json/epa_permission.json
  server/apps/trak/tests/serializers/json/site_permission.json
  server/apps/trak/tests/serializers/test_permissions_serializer.py
  server/apps/trak/urls.py
  server/apps/trak/views/rcra_profile.py
Labels: django, database

#308 feat: bump node from 16 to 18
  client/Dockerfile
  docker-compose.yaml
Labels: reactjs

#309 Restructure RcraProfile-SitePermission models
  .github/workflows/test_client.yaml
  .idea/runConfigurations/Back_end.xml
  .idea/runConfigurations/Celery.xml
  .idea/runConfigurations/Client.xml
  .idea/runConfigurations/Jest.xml
  .idea/runConfigurations/PyTest.xml
  .idea/runConfigurations/Run_Client.xml
  .idea/runConfigurations/Run_Local.xml
  .idea/runConfigurations/Run_Server.xml
  .idea/runConfigurations/Server.xml
  .idea/runConfigurations/Test_All.xml
  .idea/runConfigurations/client_dev.xml
  .idea/runConfigurations/pytest.xml
  .idea/scopes/client.xml
  client/src/features/profile/RcraProfile/RcraProfile.tsx
  client/src/store/rcraProfileSlice/rcraProfile.slice.ts
  client/src/store/rcraProfileSlice/rcraProfileSlice.spec.ts
  client/src/types/store.ts
  server/apps/trak/migrations/0003_sitepermission.py
  server/apps/trak/models/rcra_profile.py
  server/apps/trak/models/sites.py
  server/apps/trak/serializers/rcra_profile.py
  server/apps/trak/tasks/profile.py
  server/apps/trak/tests/serializers/json/site_permission.json
  server/apps/trak/tests/serializers/test_permissions_serializer.py
  server/apps/trak/tests/views/test_rcra_profile.py
  server/apps/trak/urls.py
  server/apps/trak/views/rcra_profile.py
  server/fixtures/dev_data.json
  server/haztrak/settings.py
Labels: django, reactjs, database, test, CI/CD
