Repository USEPA/haztrak, pull requests merged in 2023-04, with the labels that each got.

#418 Quicker sign feature
  client/src/components/QuickerSign/QuickerSignForm.spec.tsx
  client/src/components/QuickerSign/QuickerSignModalBtn.spec.tsx
  docs/haztrak_book/src/design/sdd.md
  docs/haztrak_book/src/design/testing.md
  server/apps/trak/admin.py
  server/apps/trak/models/site_permission_model.py
Labels: django, reactjs, test

#426 Test audit
  server/apps/conftest.py
  server/apps/core/tests/test_exceptions.py
  server/apps/sites/serializers/__init__.py
  server/apps/sites/serializers/epa_profile_ser.py
  server/apps/sites/serializers/site_ser.py
  server/apps/sites/tests/test_epa_profile_views.py
  server/apps/sites/tests/test_epa_site_views.py
  server/apps/sites/tests/test_models.py
  server/apps/sites/tests/test_serializers.py
  server/apps/sites/tests/test_site_views.py
  server/apps/sites/tests/test_views.py
  server/apps/sites/urls.py
  server/apps/sites/views/__init__.py
  server/apps/sites/views/epa_site_views.py
  server/apps/sites/views/profile_views.py
  server/apps/sites/views/site_views.py
  server/apps/trak/tests/models/test_handler_models.py
  server/apps/trak/tests/models/test_lookup_models.py
  server/apps/trak/tests/models/test_manifest_models.py
  server/apps/trak/tests/models/test_signature_models.py
  server/apps/trak/tests/services/test_handler_services.py
  server/apps/trak/tests/services/test_manifest_services.py
  server/apps/trak/tests/services/test_rcrainfo_services.py
  server/apps/trak/tests/views/test_manifest_views.py
  server/apps/trak/views/manifest_view.py
  server/requirements.txt
Labels: django, test

#434 254 notification page
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/components/ManifestForm/WasteLine/HazardousWasteForm.tsx
  client/src/components/Nav/TopNav.tsx
  client/src/components/Notification/Notification.tsx
  client/src/components/Notification/NotificationBtn.tsx
  client/src/components/Notification/NotificationRow.tsx
  client/src/components/Notification/index.ts
  client/src/components/QuickerSign/QuickerSignForm.tsx
  client/src/components/buttons/SyncManifestBtn/SyncManifestBtn.tsx
  client/src/features/home/Home.tsx
  client/src/features/notifications/Notifications.tsx
  client/src/features/notifications/index.ts
  client/src/features/profile/RcraProfile/RcraProfile.tsx
  client/src/hooks/useHtAPI/useHtAPI.spec.tsx
  client/src/store/baseQuery.ts
  client/src/store/exampleTask.slice.ts
  client/src/store/index.ts
  client/src/store/notificationSlice/index.ts
  client/src/store/notificationSlice/notification.slice.ts
  client/src/store/notificationSlice/notification.spec.ts
  client/src/store/rcraProfileSlice/rcraProfile.slice.ts
  client/src/store/rootStore.ts
  client/src/store/wasteCode.slice.ts
  server/apps/core/tasks.py
  server/apps/core/urls.py
  server/apps/core/views/__init__.py
  server/apps/core/views/auth_view.py
  server/apps/core/views/task_views.py
  server/apps/sites/admin.py
  server/apps/sites/migrations/0002_alter_rcrasitepermission_options_alter_site_options.py
  server/apps/sites/models/profile_models.py
  server/apps/sites/models/site_models.py
  server/apps/trak/urls.py
  server/apps/trak/views/__init__.py
  server/apps/trak/views/manifest_view.py
  server/haztrak/urls.py
Labels: django, reactjs, database, test

#435 Potential ship date validation
  client/src/components/Ht/HtTooltip/HtTooltip.tsx
  client/src/components/Ht/HtTooltip/index.ts
  client/src/components/ManifestForm/ManifestForm.spec.tsx
  client/src/components/ManifestForm/ManifestForm.tsx
  client/src/components/ManifestForm/manifestSchema.ts
  server/apps/sites/views/site_views.py
Labels: django, reactjs, test

#437 upgraded psycopg-binary
  server/requirements.txt
Labels: django

#442 Rcra date field bugs
  client/src/components/ManifestForm/ManifestForm.spec.tsx
  client/src/components/ManifestForm/ManifestForm.tsx
  client/src/components/ManifestForm/manifestSchema.ts
  client/src/test-utils/fixtures/mockManifest.ts
Labels: reactjs, test

#444 ManifestForm status validation/logic and SubmissionType logic
  client/src/components/ManifestForm/ManifestForm.tsx
  client/src/components/ManifestForm/manifestSchema.ts
  docker-compose.yaml
Labels: reactjs

#445 Reset error state
  .github/pull_request_template.md
  client/src/components/ErrorBoundary/ErrorBoundary.tsx
Labels: reactjs

#453 CRA to vite
  .github/workflows/test_client.yaml
  .idea/runConfigurations/Jest.xml
  .idea/runConfigurations/Test_All.xml
  .idea/runConfigurations/Vitest.xml
  client/index.html
  client/package-lock.json
  client/package.json
  client/src/components/AdditionalInfo/AdditionalinfoForm.spec.tsx
  client/src/components/Ht/HtCard/HtCard.spec.tsx
  client/src/components/Ht/HtModal/HtModal.spec.tsx
  client/src/components/Ht/HtPaginate/HtPaginate.spec.tsx
  client/src/components/Ht/HtTooltip/HtTooltip.spec.tsx
  client/src/components/Manifest/Address/AddressForm.spec.tsx
  client/src/components/Manifest/Contact/ContactForm.spec.tsx
  client/src/components/Manifest/Handler/HandlerForm.spec.tsx
  client/src/components/Manifest/Handler/HandlerSearchForm.tsx
  client/src/components/Manifest/Handler/TransporterSearchForm.tsx
  client/src/components/Manifest/ManifestForm.spec.tsx
  client/src/components/Manifest/QuickerSign/QuickerSignForm.spec.tsx
  client/src/components/Manifest/QuickerSign/QuickerSignModalBtn.spec.tsx
  client/src/components/Manifest/Transporter/TransporterTable/TransporterTable.spec.tsx
  client/src/components/Manifest/WasteLine/WasteLineForm.tsx
  client/src/components/Mtn/MtnTable.spec.tsx
  client/src/components/Nav/Sidebar.spec.tsx
  client/src/components/Nav/Sidebar.tsx
  client/src/components/Nav/TopNav.spec.tsx
  client/src/components/RcraSite/RcraSiteDetails.spec.tsx
  client/src/components/RcraSite/RcraSiteDetails.tsx
  client/src/components/buttons/RcraApiUserBtn/RcraApiUserBtn.spec.tsx
  client/src/components/buttons/SyncManifestBtn/SyncManifestBtn.spec.tsx
  client/src/features/haztrakSite/SiteList/SiteList.spec.tsx
  client/src/features/home/Home.spec.tsx
  client/src/hooks/useHtAPI/useHtAPI.spec.tsx
  client/src/hooks/usePagination/usePagination.spec.tsx
  client/src/hooks/useTitle/useTitle.spec.tsx
  client/src/index.tsx
  client/src/react-app-env.d.ts
  client/src/services/HtApi.ts
  client/src/setupTests.ts
  client/src/store/exampleTask.slice.ts
  client/src/store/notificationSlice/notification.slice.ts
  client/src/store/notificationSlice/notification.spec.ts
  client/src/store/rcraProfileSlice/rcraProfile.slice.ts
  client/src/store/userSlice/user.slice.ts
  client/src/store/userSlice/user.spec.ts
  client/src/store/wasteCode.slice.ts
  client/src/test-utils/mock/handlers.ts
  client/src/vite-env.d.ts
  client/vite.config.ts
  configs/.env.dev
  configs/.env.test
  docker-compose.yaml
  docs/haztrak_book/src/deployment/configuration.md
  docs/haztrak_book/src/design/testing.md
  docs/haztrak_book/src/development/local-development.md
  server/requirements.txt
Labels: django, reactjs, test, CI/CD

#454 Handler schema
  .idea/runConfigurations/Vitest_Run.xml
  .idea/runConfigurations/Vitest_Watch.xml
  client/src/components/Manifest/Handler/AddHandler.tsx
  client/src/components/Manifest/Handler/HandlerForm.tsx
  client/src/components/Manifest/Handler/handlerSchema.ts
  client/src/components/Manifest/Handler/index.ts
  client/src/components/Manifest/ManifestForm.spec.tsx
  client/src/components/Manifest/ManifestForm.tsx
  client/src/components/Manifest/QuickerSign/QuickerSignForm.tsx
  client/src/components/Manifest/QuickerSign/QuickerSignModal.tsx
  client/src/components/Manifest/QuickerSign/QuickerSignModalBtn.tsx
  client/src/components/Manifest/Transporter/TransporterTable/TransporterTable.spec.tsx
  client/src/components/Manifest/Transporter/TransporterTable/TransporterTable.tsx
  client/src/components/Manifest/Transporter/index.ts
  client/src/components/Manifest/Transporter/transporterSchema.ts
  client/src/components/Manifest/index.ts
  client/src/components/Manifest/manifestSchema.ts
  client/src/components/RcraSite/RcraSiteDetails.tsx
  client/src/components/RcraSite/rcraSiteSchema.ts
  client/src/test-utils/fixtures/mockHandler.ts
  client/src/types/manifest.ts
Labels: reactjs, test

#457 Emergency phone field
  .idea/runConfigurations/Test_All.xml
  client/src/components/Manifest/Address/AddressForm.tsx
  client/src/components/Manifest/Contact/ContactForm.spec.tsx
  client/src/components/Manifest/Contact/ContactForm.tsx
  client/src/components/Manifest/Contact/PhoneForm.spec.tsx
  client/src/components/Manifest/Contact/PhoneForm.tsx
  client/src/components/Manifest/Contact/index.ts
  client/src/components/Manifest/Handler/HandlerForm.tsx
  client/src/components/Manifest/ManifestForm.tsx
  client/src/components/Manifest/index.ts
  client/src/components/RcraSite/rcraSiteSchema.ts
  client/src/test-utils/render.tsx
  docs/haztrak_book/src/development/contributing.md
Labels: reactjs, test

#455 Import Info Serializer #384
  server/apps/trak/serializers/manifest_ser.py
Labels: django

#458 Reusable handler search
  client/src/components/Manifest/Contact/PhoneForm.tsx
  client/src/components/Manifest/Handler/AddHandler.tsx
  client/src/components/Manifest/Handler/HandlerSearchForm.tsx
  client/src/components/Manifest/Handler/TransporterSearchForm.tsx
  client/src/components/Manifest/Handler/index.ts
  client/src/components/Manifest/ManifestForm.spec.tsx
  client/src/components/Manifest/ManifestForm.tsx
  client/src/components/Manifest/Transporter/AddTransporter.tsx
  client/src/components/Manifest/Transporter/index.ts
  client/src/components/Manifest/manifestSchema.ts
  client/src/components/RcraSite/RcraSiteDetails.tsx
  client/src/components/RcraSite/rcraSiteSchema.ts
Labels: reactjs, test
