Repository USEPA/haztrak, pull requests merged in 2023-05, with the labels that each got.

#459 Logo and images
  client/index.html
  client/public/favicon.svg
  client/public/favicon_recycle.ico
  client/public/manifest.json
  client/src/App.scss
  client/src/App.tsx
  client/src/assets/haztrak-logos/favicons/haztrak-website-favicon-black.svg
  client/src/assets/haztrak-logos/favicons/haztrak-website-favicon-color.svg
  client/src/assets/haztrak-logos/favicons/haztrak-website-favicon-white.svg
  client/src/assets/haztrak-logos/haztrak-brand-board-your-branding-colors-and-fonts/BrandBoard.pdf
  client/src/assets/haztrak-logos/haztrak-brand-board-your-branding-colors-and-fonts/fonts/Comfortaa Medium.ttf
  client/src/assets/haztrak-logos/haztrak-brand-board-your-branding-colors-and-fonts/fonts/Staatliches Regular.ttf
  client/src/assets/haztrak-logos/haztrak-logo-zip-file/eps/logo-black.eps
  client/src/assets/haztrak-logos/haztrak-logo-zip-file/eps/logo-color.eps
  client/src/assets/haztrak-logos/haztrak-logo-zip-file/eps/logo-no-background.eps
  client/src/assets/haztrak-logos/haztrak-logo-zip-file/eps/logo-white.eps
  client/src/assets/haztrak-logos/haztrak-logo-zip-file/pdf/logo-black.pdf
  client/src/assets/haztrak-logos/haztrak-logo-zip-file/pdf/logo-color.pdf
  client/src/assets/haztrak-logos/haztrak-logo-zip-file/pdf/logo-no-background.pdf
  client/src/assets/haztrak-logos/haztrak-logo-zip-file/pdf/logo-white.pdf
  client/src/assets/haztrak-logos/haztrak-logo-zip-file/png/logo-black.png
  client/src/assets/haztrak-logos/haztrak-logo-zip-file/png/logo-color.png
  client/src/assets/haztrak-logos/haztrak-logo-zip-file/png/logo-no-background.png
  client/src/assets/haztrak-logos/haztrak-logo-zip-file/png/logo-white.png
  client/src/assets/haztrak-logos/haztrak-logo-zip-file/svg/logo-black.svg
  client/src/assets/haztrak-logos/haztrak-logo-zip-file/svg/logo-color.svg
  client/src/assets/haztrak-logos/haztrak-logo-zip-file/svg/logo-no-background.svg
  client/src/assets/haztrak-logos/haztrak-logo-zip-file/svg/logo-white.svg
  client/src/assets/haztrak-logos/high-resolution/png/haztrak-high-resolution-color-logo.png
  client/src/assets/haztrak-logos/high-resolution/png/haztrak-high-resolution-logo-black-on-transparent-background.png
  client/src/assets/haztrak-logos/high-resolution/png/haztrak-high-resolution-logo-black-on-white-background.png
  client/src/assets/haztrak-logos/high-resolution/png/haztrak-high-resolution-logo-color-on-transparent-background.png
  client/src/assets/haztrak-logos/high-resolution/png/haztrak-high-resolution-logo-white-on-black-background.png
  client/src/assets/haztrak-logos/high-resolution/png/haztrak-high-resolution-logo-white-on-transparent-background.png
  client/src/assets/haztrak-logos/high-resolution/svg/haztrak-high-resolution-color-logo.svg
  client/src/assets/haztrak-logos/high-resolution/svg/haztrak-high-resolution-logo-black-on-transparent-background.svg
  client/src/assets/haztrak-logos/high-resolution/svg/haztrak-high-resolution-logo-black-on-white-background.svg
  client/src/assets/haztrak-logos/high-resolution/svg/haztrak-high-resolution-logo-color-on-transparent-background.svg
  client/src/assets/haztrak-logos/high-resolution/svg/haztrak-high-resolution-logo-white-on-black-background.svg
  client/src/assets/haztrak-logos/high-resolution/svg/haztrak-high-resolution-logo-white-on-transparent-background.svg
  client/src/assets/haztrak-logos/low-resolution/png/haztrak-low-resolution-color-logo.png
  client/src/assets/haztrak-logos/low-resolution/png/haztrak-low-resolution-logo-black-on-transparent-background.png
  client/src/assets/haztrak-logos/low-resolution/png/haztrak-low-resolution-logo-black-on-white-background.png
  client/src/assets/haztrak-logos/low-resolution/png/haztrak-low-resolution-logo-color-on-transparent-background.png
  client/src/assets/haztrak-logos/low-resolution/png/haztrak-low-resolution-logo-white-on-black-background.png
  client/src/assets/haztrak-logos/low-resolution/png/haztrak-low-resolution-logo-white-on-transparent-background.png
  client/src/assets/haztrak-logos/low-resolution/svg/haztrak-low-resolution-color-logo.svg
  client/src/assets/haztrak-logos/low-resolution/svg/haztrak-low-resolution-logo-black-on-transparent-background.svg
  client/src/assets/haztrak-logos/low-resolution/svg/haztrak-low-resolution-logo-black-on-white-background.svg
  client/src/assets/haztrak-logos/low-resolution/svg/haztrak-low-resolution-logo-color-on-transparent-background.svg
  client/src/assets/haztrak-logos/low-resolution/svg/haztrak-low-resolution-logo-white-on-black-background.svg
  client/src/assets/haztrak-logos/low-resolution/svg/haztrak-low-resolution-logo-white-on-transparent-background.svg
  client/src/assets/iconfinder-EPA-logo.svg
  client/src/components/Ht/HtCard/HtCard.tsx
  client/src/components/Nav/TopNav.spec.tsx
  client/src/components/Nav/TopNav.tsx
  client/src/features/login/Login.tsx
  docs/haztrak_book/src/assets/haztrak-low-resolution-logo-teal-on-transparent-background.svg
  docs/haztrak_book/src/introduction.md
  docs/haztrak_book/src/references/future-maintainers.md
Labels: reactjs, test

#471 Custom user model
  server/apps/conftest.py
  server/apps/core/admin.py
  server/apps/core/migrations/0001_initial.py
  server/apps/core/models.py
  server/apps/sites/admin.py
  server/apps/sites/migrations/0001_initial.py
  server/apps/sites/migrations/0002_alter_rcrasitepermission_options_alter_site_options.py
  server/apps/sites/models/profile_models.py
  server/apps/trak/migrations/0001_initial.py
  server/apps/trak/migrations/0002_locality_portofentry_importinfo_squashed_0003_alter_portofentry_options_alter_portofentry_state_and_more.py
  server/apps/trak/serializers/manifest_ser.py
  server/fixtures/dev_data.yaml
  server/haztrak/settings.py
Labels: django, database

#472 welcome content
  client/package-lock.json
  client/package.json
  client/public/under-construction.png
  client/src/App.tsx
  client/src/components/buttons/NewManifestBtn.tsx
  client/src/features/comingSoon/UnderConstruction.tsx
  client/src/features/comingSoon/index.ts
  client/src/features/home/Home.spec.tsx
  client/src/features/home/Home.tsx
  client/src/features/manifest/MtnList.tsx
  client/src/store/rcraProfileSlice/rcraProfileSlice.spec.tsx
  client/src/store/wasteCode.slice.ts
  server/requirements.txt
  server/requirements_dev.txt
Labels: django, reactjs, test

#473 React-table-v8
  client/package-lock.json
  client/package.json
  client/src/components/Mtn/MtnRowActions.tsx
  client/src/components/Mtn/MtnTable.spec.tsx
  client/src/components/Mtn/MtnTable.tsx
  client/src/features/manifest/Manifest.tsx
  client/src/features/manifest/ManifestList.tsx
Labels: reactjs, test

#475 Filter by status
  client/src/App.scss
  client/src/components/Ht/HtCard/HtCard.tsx
  client/src/components/Ht/HtPaginate/HtPageBtns.tsx
  client/src/components/Ht/HtPaginate/HtPageControls.tsx
  client/src/components/Ht/HtPaginate/index.ts
  client/src/components/Ht/index.ts
  client/src/components/Mtn/MtnTable.spec.tsx
  client/src/components/Mtn/MtnTable.tsx
  client/src/features/manifest/Manifest.tsx
  client/src/features/manifest/NewManifest.tsx
  client/src/hooks/usePagination/usePagination.spec.tsx
  client/src/hooks/usePagination/usePagination.tsx
  client/src/store/rcraProfileSlice/rcraProfileSlice.spec.tsx
Labels: reactjs, test

#476 Mtn table sorting
  client/src/components/Mtn/MtnTable.spec.tsx
  client/src/components/Mtn/MtnTable.tsx
Labels: reactjs, test

#477 Correction info model #387
  server/apps/trak/migrations/0002_correctioninfo.py
  server/apps/trak/models/manifest_models.py
Labels: django, database

#479 Transporter required validation
  client/src/components/AdditionalInfo/additionalInfoSchema.ts
  client/src/components/Manifest/ManifestForm.tsx
  client/src/components/Manifest/manifestSchema.ts
Labels: reactjs

#482 remove ad hoc selectors
  client/src/App.tsx
  client/src/components/Manifest/QuickerSign/QuickerSignForm.tsx
  client/src/components/Manifest/SiteSelect/SiteSelect.tsx
  client/src/components/Notification/NotificationBtn.tsx
  client/src/components/buttons/RcraApiUserBtn/RcraApiUserBtn.tsx
  client/src/features/home/Home.tsx
  client/src/features/login/Login.tsx
  client/src/features/manifest/NewManifest.tsx
  client/src/features/notifications/Notifications.tsx
  client/src/features/profile/Profile.tsx
  client/src/store/notificationSlice/index.ts
  client/src/store/notificationSlice/notification.slice.ts
  client/src/store/rcraProfileSlice/index.ts
  client/src/store/rcraProfileSlice/rcraProfile.slice.ts
  client/src/store/rcraProfileSlice/rcraProfileSlice.spec.tsx
  client/src/store/userSlice/index.ts
  client/src/store/userSlice/user.slice.ts
  docs/haztrak_book/src/design/browser-client.md
  docs/haztrak_book/src/design/source-roadmap.md
  server/apps/trak/models/manifest_models.py
Labels: django, reactjs, test

#484 Multistage dockerfiles
  .github/labeler.yml
  .idea/runConfigurations/Compose_Dev.xml
  client/.dockerignore
  client/.gitignore
  client/Dockerfile
  client/package-lock.json
  client/public/mockServiceWorker.js
  client/src/components/Ht/HtForm.tsx
  client/src/components/Manifest/ManifestForm.tsx
  docker-compose.yaml
  docs/haztrak_book/src/SUMMARY.md
  docs/haztrak_book/src/deployment/aws-deployment.md
  docs/haztrak_book/src/deployment/containerization.md
  docs/haztrak_book/src/development/local-development.md
  server/Dockerfile
  server/requirements.txt
  server/requirements_dev.txt
Labels: django, reactjs, CI/CD

#485 Helm charts
  .pre-commit-config.yaml
  client/Dockerfile
  docs/haztrak_book/src/SUMMARY.md
  docs/haztrak_book/src/assets/haztrak_google_cloud_diagram_library.excalidrawlib
  docs/haztrak_book/src/assets/images/156px-Warning.svg
  docs/haztrak_book/src/assets/images/erd.png
  docs/haztrak_book/src/assets/images/haztrak-low-resolution-logo-teal-on-transparent-background.svg
  docs/haztrak_book/src/assets/images/haztrak_on_gke_dark.svg
  docs/haztrak_book/src/assets/images/haztrak_on_gke_light.svg
  docs/haztrak_book/src/assets/images/quicker_sign.png
  docs/haztrak_book/src/deployment/containerization.md
  docs/haztrak_book/src/deployment/deployment.md
  docs/haztrak_book/src/deployment/local-deployment.md
  docs/haztrak_book/src/design/db-design.md
  docs/haztrak_book/src/design/sdd.md
  docs/haztrak_book/src/introduction.md
  haztrak-charts/.helmignore
  haztrak-charts/Chart.yaml
  haztrak-charts/templates/NOTES.txt
  haztrak-charts/templates/_helpers.tpl
  haztrak-charts/templates/configmap.yaml
  haztrak-charts/templates/deployment.yaml
  haztrak-charts/templates/hpa.yaml
  haztrak-charts/templates/ingress.yaml
  haztrak-charts/templates/secrets.yaml
  haztrak-charts/templates/service.yaml
  haztrak-charts/templates/serviceaccount.yaml
  haztrak-charts/templates/tests/test-connection.yaml
  haztrak-charts/values.yaml
  runhaz.sh
  server/Dockerfile
  server/haztrak/settings.py
  server/run.sh
Labels: django, reactjs

#487 update to emanifest 3.0.5
  .github/workflows/dependency_review.yaml
  client/package-lock.json
  server/requirements.txt
Labels: django, reactjs

#499 remove custom authentication class
  client/src/services/HtApi.ts
  docs/haztrak_book/src/design/testing.md
  server/apps/core/views/auth_view.py
  server/haztrak/authentication.py
  server/haztrak/settings.py
Labels: django, reactjs
