Repository USEPA/haztrak, pull requests merged in 2023-03, with the labels that each got.

#367 Electronic signature model
  .idea/runConfigurations/Compose_Dev.xml
  server/apps/core/management/commands/celery_beat.py
  server/apps/core/management/commands/celery_worker.py
  server/apps/trak/admin.py
  server/apps/trak/migrations/0002_remove_manifest_locked_reason_and_more.py
  server/apps/trak/models/__init__.py
  server/apps/trak/models/address_model.py
  server/apps/trak/models/handler_model.py
  server/apps/trak/models/manifest_model.py
  server/apps/trak/models/signature_model.py
  server/apps/trak/serializers/address_ser.py
  server/apps/trak/serializers/handler_ser.py
  server/apps/trak/serializers/manifest_ser.py
  server/apps/trak/serializers/signature_ser.py
  server/apps/trak/services/manifest_service.py
  server/apps/trak/services/site_service.py
  server/apps/trak/tasks/manifest_task.py
  server/apps/trak/tasks/site_task.py
  server/apps/trak/tests/conftest.py
  server/apps/trak/tests/models/test_handler.py
  server/apps/trak/tests/resources/json/test_e_signature.json
  server/apps/trak/tests/serializers/test_contact_serializer.py
  server/apps/trak/tests/serializers/test_handler_serializer.py
  server/apps/trak/tests/serializers/test_manifest_serializers.py
  server/apps/trak/tests/serializers/test_permissions_serializer.py
  server/apps/trak/tests/serializers/test_signature_serializer.py
  server/apps/trak/views/manifest_view.py
  server/requirements_dev.txt
Labels: django, database, test

#369 e-signature type definition 368
  client/src/components/HandlerDetails/AddressListGroup.tsx
  client/src/components/HandlerDetails/HandlerDetails.spec.tsx
  client/src/components/HandlerDetails/HandlerDetails.tsx
  client/src/components/Ht/HtPaginate/HtPaginate.tsx
  client/src/components/ManifestForm/AdditionalInfo/AdditionalInfoForm.tsx
  client/src/components/ManifestForm/AddressForm/AddressForm.spec.tsx
  client/src/components/ManifestForm/AddressForm/AddressForm.tsx
  client/src/components/ManifestForm/ContactForm/ContactForm.tsx
  client/src/components/ManifestForm/HandlerForm/HandlerForm.spec.tsx
  client/src/components/ManifestForm/HandlerForm/HandlerForm.tsx
  client/src/components/ManifestForm/HandlerSearch/HandlerSearchForm.tsx
  client/src/components/ManifestForm/HandlerSearch/TransporterSearchForm.tsx
  client/src/components/ManifestForm/ManifestForm.tsx
  client/src/components/ManifestForm/Transporter/AddTransporter.tsx
  client/src/components/ManifestForm/Transporter/TransporterTable/TransporterTable.spec.tsx
  client/src/components/ManifestForm/Transporter/TransporterTable/TransporterTable.tsx
  client/src/components/ManifestForm/Tsdf/AddTsdf.tsx
  client/src/components/ManifestForm/WasteLine/AddWasteLine.tsx
  client/src/components/ManifestForm/WasteLine/WasteLineForm.tsx
  client/src/features/manifest/ManifestDetails.tsx
  client/src/test/fixtures/mockHandler.ts
  client/src/test/fixtures/mockManifest.ts
  client/src/types/Handler/Contact.ts
  client/src/types/Handler/Site.ts
  client/src/types/Handler/Transporter.ts
  client/src/types/Handler/address.ts
  client/src/types/Handler/handler.ts
  client/src/types/Handler/index.ts
  client/src/types/Manifest/Contact.ts
  client/src/types/Manifest/Correction.ts
  client/src/types/Manifest/Manifest.ts
  client/src/types/Manifest/Rejection.ts
  client/src/types/WasteLine.ts
  client/src/types/WasteLine/index.ts
  client/src/types/hooks.ts
  client/src/types/index.ts
  client/src/types/store.ts
  docs/haztrak_book/src/terminology.md
  server/apps/trak/tests/serializers/test_signature_serializer.py
Labels: django, reactjs, test

#390 Paper signature model
  client/src/components/Nav/Sidebar.tsx
  docs/haztrak_book/src/assets/erd.png
  runhaz.sh
  server/apps/trak/migrations/0003_papersignature_alter_manifesthandler_handler_and_more.py
  server/apps/trak/models/__init__.py
  server/apps/trak/models/handler_model.py
  server/apps/trak/models/signature_model.py
  server/apps/trak/tests/models/test_profile.py
  server/apps/trak/tests/models/test_signatures.py
  server/haztrak/urls.py
Labels: django, reactjs, database, test

#392 375 papersignaturesinfo serializer
  server/apps/trak/models/handler_model.py
  server/apps/trak/models/signature_model.py
  server/apps/trak/serializers/handler_ser.py
  server/apps/trak/serializers/signature_ser.py
  server/apps/trak/tests/conftest.py
  server/apps/trak/tests/resources/json/paper_manifest_handler.json
  server/apps/trak/tests/serializers/test_handler_serializer.py
Labels: django, test

#394 382 additionalinfo serializer
  server/apps/trak/migrations/0004_additionalinfo.py
  server/apps/trak/models/manifest_model.py
  server/apps/trak/serializers/manifest_ser.py
  server/apps/trak/tests/conftest.py
  server/apps/trak/tests/serializers/test_manifest_serializers.py
  server/apps/trak/tests/services/test_manifest_services.py
  server/apps/trak/tests/services/test_site_services.py
  server/apps/trak/tests/views/test_manifest_viewset.py
Labels: django, database, test

#395 Proposed for Issue View Site Manifest Button #379
  client/src/features/site/SiteDetails/SiteDetails.tsx
Labels: reactjs

#396 391 factory fixtures
  server/apps/trak/tests/conftest.py
  server/apps/trak/tests/models/test_address.py
  server/apps/trak/tests/models/test_handler.py
  server/apps/trak/tests/models/test_profile.py
  server/apps/trak/tests/models/test_signatures.py
  server/apps/trak/tests/serializers/test_handler_serializer.py
  server/apps/trak/tests/serializers/test_permissions_serializer.py
  server/apps/trak/tests/serializers/test_signature_serializer.py
  server/apps/trak/tests/services/test_handler_services.py
  server/apps/trak/tests/services/test_manifest_services.py
  server/apps/trak/tests/services/test_rcrainfo_services.py
  server/apps/trak/tests/services/test_site_services.py
  server/apps/trak/tests/views/test_handler_api.py
  server/apps/trak/tests/views/test_handler_search_api.py
  server/apps/trak/tests/views/test_manifest_viewset.py
  server/apps/trak/tests/views/test_rcra_profile.py
  server/apps/trak/tests/views/test_site_api.py
Labels: django, test

#397 Misc Technical debt and clean up
  server/apps/trak/migrations/0005_alter_address_city_alter_contact_email.py
  server/apps/trak/models/address_model.py
  server/apps/trak/models/contact_model.py
  server/apps/trak/models/handler_model.py
  server/apps/trak/models/manifest_model.py
  server/apps/trak/models/rcra_profile_model.py
  server/apps/trak/models/signature_model.py
  server/apps/trak/models/site_model.py
  server/apps/trak/models/site_permission_model.py
  server/apps/trak/models/transporter_model.py
  server/apps/trak/models/waste_model.py
  server/apps/trak/serializers/trak_ser.py
  server/apps/trak/services/handler_service.py
  server/apps/trak/services/manifest_service.py
  server/apps/trak/services/profile_service.py
  server/apps/trak/services/rcrainfo_service.py
  server/apps/trak/services/site_service.py
  server/apps/trak/tasks/__init__.py
  server/apps/trak/tasks/poc_task.py
  server/apps/trak/tests/conftest.py
  server/apps/trak/tests/models/test_address.py
  server/apps/trak/tests/models/test_contact_model.py
  server/apps/trak/tests/models/test_manifest.py
  server/apps/trak/tests/models/test_profile.py
  server/apps/trak/tests/models/test_signatures.py
  server/apps/trak/tests/services/test_handler_services.py
  server/apps/trak/tests/services/test_manifest_services.py
  server/apps/trak/tests/services/test_rcrainfo_services.py
  server/apps/trak/tests/services/test_site_services.py
  server/apps/trak/tests/views/test_site_api.py
Labels: django, database, test

#399 Add release-drafter to CI/CD pipeline
  .github/release-drafter.yml
  .github/workflows/release-drafter.yaml
  .github/workflows/release.yaml
Labels: CI/CD

#400 372 manager class refactor
  .idea/scopes/server.xml
  server/apps/trak/models/__init__.py
  server/apps/trak/models/address_model.py
  server/apps/trak/models/base_model.py
  server/apps/trak/models/contact_model.py
  server/apps/trak/models/handler_model.py
  server/apps/trak/models/manifest_model.py
  server/apps/trak/models/signature_model.py
  server/apps/trak/models/transporter_model.py
  server/apps/trak/models/waste_model.py
  server/apps/trak/serializers/address_ser.py
  server/apps/trak/serializers/base_ser.py
  server/apps/trak/serializers/contact_ser.py
  server/apps/trak/serializers/handler_ser.py
  server/apps/trak/serializers/manifest_ser.py
  server/apps/trak/serializers/rcra_profile_ser.py
  server/apps/trak/serializers/signature_ser.py
  server/apps/trak/serializers/sites_ser.py
  server/apps/trak/serializers/transporter_ser.py
  server/apps/trak/serializers/waste_line_ser.py
  server/apps/trak/services/handler_service.py
  server/apps/trak/tests/conftest.py
  server/apps/trak/tests/models/test_handler.py
  server/apps/trak/tests/serializers/test_handler_serializer.py
Labels: django, test

#402 377 manifest handler `signed` indicator
  client/package.json
  client/src/components/HandlerDetails/HandlerDetails.tsx
  client/src/components/ManifestForm/ManifestForm.tsx
  client/src/components/ManifestForm/Transporter/TransporterTable/TransporterTable.tsx
  client/src/features/manifest/ManifestDetails.tsx
  client/src/types/Handler/handler.ts
  server/apps/trak/models/address_model.py
  server/apps/trak/models/base_model.py
  server/apps/trak/models/contact_model.py
  server/apps/trak/models/handler_model.py
  server/apps/trak/models/manifest_model.py
  server/apps/trak/models/rcra_profile_model.py
  server/apps/trak/models/signature_model.py
  server/apps/trak/models/site_model.py
  server/apps/trak/models/site_permission_model.py
  server/apps/trak/models/transporter_model.py
  server/apps/trak/models/waste_model.py
  server/apps/trak/serializers/address_ser.py
  server/apps/trak/serializers/handler_ser.py
  server/apps/trak/serializers/manifest_ser.py
  server/apps/trak/serializers/transporter_ser.py
  server/apps/trak/services/site_service.py
  server/apps/trak/tests/conftest.py
  server/apps/trak/tests/models/test_handler.py
  server/pyproject.toml
Labels: django, reactjs, test

#407 `api_user` serialization and RcraApiUserBtn
  client/src/components/SyncManifestBtn/SyncManifestBtn.tsx
  client/src/components/SyncManifestBtn/index.ts
  client/src/components/buttons/RcraApiUserBtn/RcraApiUserBtn.spec.tsx
  client/src/components/buttons/RcraApiUserBtn/RcraApiUserBtn.tsx
  client/src/components/buttons/RcraApiUserBtn/index.ts
  client/src/components/buttons/SyncManifestBtn/SyncManifestBtn.spec.tsx
  client/src/components/buttons/SyncManifestBtn/SyncManifestBtn.tsx
  client/src/components/buttons/SyncManifestBtn/index.ts
  client/src/components/buttons/index.ts
  client/src/features/manifest/MtnList.tsx
  client/src/features/profile/RcraProfile/RcraProfile.tsx
  client/src/features/site/SiteDetails/SiteDetails.tsx
  client/src/store/rcraProfileSlice/rcraProfile.slice.ts
  client/src/test/mock/handlers.js
  client/src/types/store.ts
  server/apps/trak/serializers/rcra_profile_ser.py
Labels: django, reactjs, test

#411 Quicker sign async task
  .postman/api
  .postman/api_ef9401d4-9ba5-4d17-9d1e-fa19efcc52d3
  docs/api/postman/collections/Haztrak API.json
  docs/api/postman/schemas/openapi-schema.yaml
  docs/api/postman/schemas/readme.md
  docs/api/rcrainfo/100032524ELC.json
  docs/api/rcrainfo/emanifest_schema.json
  docs/api/rcrainfo/handler_schema.json
  docs/api/rcrainfo/manifest_from_haztrak.json
  docs/api/rcrainfo/site_seach.json
  docs/api/rcrainfo/user_search_response.json
  docs/haztrak_book/src/development/rcrainfo.md
  runhaz.sh
  server/apps/trak/migrations/0008_alter_wastecode_code.py
  server/apps/trak/models/__init__.py
  server/apps/trak/models/code_models.py
  server/apps/trak/models/handler_model.py
  server/apps/trak/models/manifest_model.py
  server/apps/trak/models/signature_model.py
  server/apps/trak/serializers/signature_ser.py
  server/apps/trak/services/manifest_service.py
  server/apps/trak/services/rcrainfo_service.py
  server/apps/trak/services/site_service.py
  server/apps/trak/tasks/__init__.py
  server/apps/trak/tasks/lookup_task.py
  server/apps/trak/tasks/manifest_task.py
  server/apps/trak/tasks/profile_task.py
  server/apps/trak/tasks/site_task.py
  server/apps/trak/tests/conftest.py
  server/apps/trak/tests/models/test_codes.py
  server/apps/trak/tests/services/test_handler_services.py
  server/apps/trak/tests/services/test_manifest_services.py
  server/apps/trak/tests/services/test_rcrainfo_services.py
  server/apps/trak/tests/views/test_manifest_views.py
  server/apps/trak/urls.py
  server/apps/trak/views/__init__.py
  server/apps/trak/views/manifest_view.py
  server/apps/trak/views/site_view.py
  server/haztrak/settings.py
  server/requirements.txt
  server/requirements_dev.txt
Labels: django, database, test

#414 Quicker sign submit
  README.md
  client/src/components/HandlerDetails/HandlerDetails.spec.tsx
  client/src/components/HandlerDetails/HandlerDetails.tsx
  client/src/components/Ht/HtForm.tsx
  client/src/components/Ht/HtPaginate/HtPaginate.spec.tsx
  client/src/components/ManifestForm/ManifestForm.tsx
  client/src/components/ManifestForm/Transporter/TransporterTable/TransporterTable.tsx
  client/src/components/QuickerSign/QuickerSign.spec.tsx
  client/src/components/QuickerSign/QuickerSign.tsx
  client/src/components/QuickerSign/QuickerSignForm.tsx
  client/src/components/QuickerSign/QuickerSignModal.tsx
  client/src/components/QuickerSign/QuickerSignModalBtn.tsx
  client/src/components/QuickerSign/index.ts
  client/src/components/buttons/RcraApiUserBtn/RcraApiUserBtn.tsx
  client/src/components/buttons/SyncManifestBtn/SyncManifestBtn.tsx
  client/src/features/manifest/MtnList.tsx
  client/src/features/profile/RcraProfile/RcraProfile.tsx
  client/src/test-utils/fixtures/index.ts
  client/src/test-utils/fixtures/mockHandler.ts
  client/src/test-utils/fixtures/mockManifest.ts
  client/src/types/handler/handler.ts
  client/src/types/manifest/signatures.ts
  server/apps/trak/models/handler_model.py
Labels: django, reactjs, test

#416 Pull manifest iteration bug
  docs/haztrak_book/src/assets/quicker_sign.png
  docs/haztrak_book/src/design/sdd.md
  docs/haztrak_book/src/e-Manifest.md
  docs/haztrak_book/src/introduction.md
  server/apps/trak/models/manifest_model.py
  server/apps/trak/services/handler_service.py
  server/apps/trak/services/manifest_service.py
  server/apps/trak/services/profile_service.py
  server/apps/trak/services/rcrainfo_service.py
  server/apps/trak/tasks/manifest_task.py
  server/apps/trak/tests/models/test_manifest.py
  server/apps/trak/tests/services/test_manifest_services.py
Labels: bug, django, test

#417 Django Admin Site ModelAdmin scaffolding
  server/apps/trak/admin.py
  server/apps/trak/migrations/0009_alter_contact_options_alter_manifest_options_and_more.py
  server/apps/trak/migrations/0010_alter_esignature_options.py
  server/apps/trak/migrations/0011_alter_additionalinfo_options_alter_address_options_and_more.py
  server/apps/trak/migrations/0012_alter_manifest_generator.py
  server/apps/trak/migrations/0013_alter_manifest_generator.py
  server/apps/trak/models/address_model.py
  server/apps/trak/models/base_model.py
  server/apps/trak/models/code_models.py
  server/apps/trak/models/contact_model.py
  server/apps/trak/models/handler_model.py
  server/apps/trak/models/manifest_model.py
  server/apps/trak/models/rcra_profile_model.py
  server/apps/trak/models/signature_model.py
  server/apps/trak/models/site_model.py
  server/apps/trak/models/site_permission_model.py
  server/apps/trak/models/transporter_model.py
  server/apps/trak/models/waste_model.py
  server/apps/trak/tests/conftest.py
  server/apps/trak/tests/views/test_site_api.py
Labels: django, database, test
