Repository USEPA/haztrak, pull requests merged in 2024-06, with the labels that each got.

#725 Repository Separation of Responsibility
  server/apps/conftest.py
  server/apps/core/admin.py
  server/apps/handler/admin.py
  server/apps/handler/migrations/0001_initial.py
  server/apps/handler/migrations/0003_alter_papersignature_options.py
  server/apps/handler/models/__init__.py
  server/apps/handler/models/base_models.py
  server/apps/handler/models/contact.py
  server/apps/handler/models/handler.py
  server/apps/handler/models/signature.py
  server/apps/manifest/models.py
  server/apps/manifest/services/emanifest.py
  server/apps/manifest/tests/test_models.py
  server/apps/manifest/views.py
  server/apps/profile/migrations/0002_rename_trakprofile_profile.py
  server/apps/profile/models.py
  server/apps/profile/serializers/__init__.py
  server/apps/profile/serializers/profile.py
  server/apps/profile/services.py
  server/apps/profile/tests/test_models.py
  server/apps/profile/tests/test_serializers.py
  server/apps/profile/tests/test_services.py
  server/apps/profile/views.py
  server/apps/rcrasite/models/base_models.py
  server/apps/rcrasite/models/contact.py
  server/apps/rcrasite/models/rcrasite.py
  server/apps/site/models.py
  server/apps/site/services.py
  server/apps/site/tests/test_models.py
  server/fixtures/dev_data.yaml
Labels: server, database, test

#728 Rcra Site search class and validation
  server/apps/core/services/__init__.py
  server/apps/core/services/rcrainfo_service.py
  server/apps/core/tests/test_rcrainfo_service.py
  server/apps/handler/tests/test_handler_services.py
  server/apps/manifest/services/emanifest.py
  server/apps/manifest/services/emanifest_search.py
  server/apps/manifest/tasks.py
  server/apps/manifest/tests/conftest.py
  server/apps/manifest/tests/test_emanifest_service.py
  server/apps/manifest/tests/test_search_emanifest.py
  server/apps/profile/services.py
  server/apps/rcrasite/services/__init__.py
  server/apps/rcrasite/services/rcra_site.py
  server/apps/rcrasite/services/rcra_site_search.py
  server/apps/rcrasite/tests/test_site_search.py
  server/apps/rcrasite/tests/test_views.py
  server/apps/rcrasite/views.py
  server/apps/wasteline/tasks.py
Labels: server, test

#729 Debounce transporter input
  client/src/components/Manifest/Handler/Search/HandlerSearchForm.tsx
  client/src/hooks/index.ts
  client/src/hooks/useDebounce/useDebounce.spec.tsx
  client/src/hooks/useDebounce/useDebounce.tsx
Labels: client

#730 Use django URL names in test suite
  client/src/components/Manifest/GeneralInfo/ManifestStatusSelect.spec.tsx
  client/src/components/Manifest/Handler/Search/HandlerSearchForm.spec.tsx
  client/src/components/Rcrainfo/buttons/SyncManifestBtn/SyncManifestBtn.spec.tsx
  client/src/features/NewManifest/NewManifest.spec.tsx
  client/src/hooks/useUserSiteIds/useUserSiteIds.spec.tsx
  client/src/store/htApi.slice.ts
  client/src/store/userSlice/user.slice.ts
  client/src/test-utils/mock/mockManifestEndpoints.ts
  client/src/test-utils/mock/mockUserEndpoints.ts
  client/src/test-utils/mock/mockWasteEndpoints.ts
  server/apps/core/exceptions.py
  server/apps/core/tests/test_views.py
  server/apps/core/urls.py
  server/apps/core/views.py
  server/apps/manifest/tests/test_views.py
  server/apps/manifest/urls.py
  server/apps/manifest/views.py
  server/apps/org/tests/test_views.py
  server/apps/org/urls.py
  server/apps/profile/tests/test_views.py
  server/apps/profile/urls.py
  server/apps/profile/views.py
  server/apps/rcrasite/tests/test_views.py
  server/apps/rcrasite/urls.py
  server/apps/site/tests/test_views.py
  server/apps/site/urls.py
  server/apps/wasteline/tests/test_waste_views.py
  server/apps/wasteline/urls.py
  server/haztrak/urls.py
Labels: server, client, test
