Repository USEPA/haztrak, pull requests merged in 2024-05, with the labels that each got.

#711 Dep review
  client/package-lock.json
  client/package.json
  server/requirements_dev.txt
Labels: dependencies

#715 EmanifestSearch class
  client/src/components/RcraProfile/RcraProfile.tsx
  client/src/store/htApi.slice.ts
  server/apps/conftest.py
  server/apps/core/admin.py
  server/apps/core/services/rcrainfo_service.py
  server/apps/handler/admin.py
  server/apps/manifest/services/emanifest.py
  server/apps/manifest/services/emanifest_search.py
  server/apps/manifest/tasks.py
  server/apps/manifest/tests/test_search_emanifest.py
  server/apps/org/admin.py
  server/apps/profile/serializers/rcrasite_access.py
  server/apps/site/services.py
  server/haztrak/urls.py
Labels: server, client, test

#717 Remove python 3.11 support
  .github/workflows/test_server.yaml
  server/apps/conftest.py
  server/apps/core/services/rcrainfo_service.py
  server/apps/manifest/models.py
  server/apps/manifest/serializers.py
  server/apps/manifest/services/emanifest.py
  server/apps/manifest/tests/test_models.py
  server/apps/org/admin.py
  server/apps/org/migrations/0002_rename_trakorg_org_rename_trakorgaccess_orgaccess.py
  server/apps/org/models.py
  server/apps/org/serializers.py
  server/apps/org/services.py
  server/apps/org/tests/test_models.py
  server/apps/org/tests/test_serializers.py
  server/apps/org/tests/test_views.py
  server/apps/org/urls.py
  server/apps/org/views.py
  server/apps/profile/serializers/trak_profile.py
  server/apps/site/tests/conftest.py
  server/fixtures/dev_data.yaml
  server/haztrak/settings/base.py
  server/pyproject.toml
Labels: server, database, test, CI/CD

#719 requirements_dev.txt location
  docs/guide/src/development/local-development.md
Labels: documentation

#718 Add unique key to transporter array elements
  client/package-lock.json
  client/package.json
  client/src/components/Manifest/Transporter/TransporterRowActions.tsx
  client/src/components/Manifest/Transporter/TransporterSection.tsx
  client/src/components/Manifest/Transporter/TransporterTable.spec.tsx
  client/src/components/Manifest/Transporter/TransporterTable.tsx
  client/src/components/Manifest/manifestSchema.ts
  client/src/setupTests.ts
Labels: client, dependencies

#720 Repair TransporterSection by properly adding uuid to clientKey
  client/src/components/Manifest/Transporter/TransporterSection.tsx
Labels: client
