Repository USEPA/haztrak, pull requests merged in 2024-07, with the labels that each got.

#739 Dependency updates
  client/package-lock.json
  client/package.json
  client/public/mockServiceWorker.js
  client/src/reportWebVitals.ts
  server/requirements.txt
  server/requirements_dev.txt
Labels: client, dependencies

#740 Authorization Documentation Updates
  docs/guide/src/SUMMARY.md
  docs/guide/src/design/auth.md
Labels: documentation, server

#749 Proxy permission and role model
  server/apps/core/admin.py
  server/apps/core/migrations/0002_permission.py
  server/apps/core/migrations/0003_role.py
  server/apps/core/models.py
  server/apps/core/tests/conftest.py
  server/apps/core/tests/test_models.py
Labels: server, database, test

#736 Chart enhancement
  client/src/App.scss
  client/src/components/Charts/ManifestStatusPieChart/ManifestStatusPieChart.tsx
Labels: client

#752 Combine org site apps
  server/apps/__init__.py
  server/apps/conftest.py
  server/conftest.py
  server/core/admin.py
  server/core/migrations/0004_grouppermission_userpermission.py
  server/core/migrations/0004_remove_role_permissions_delete_permission_and_more.py
  server/core/models.py
  server/core/tests/test_exceptions.py
  server/core/tests/test_rcrainfo_service.py
  server/core/utils.py
  server/fixtures/dev_data.yaml
  server/haztrak/settings/base.py
  server/haztrak/urls.py
  server/manifest/services/manifest.py
  server/manifest/tasks.py
  server/manifest/tests/test_manifest_services.py
  server/manifest/tests/test_views.py
  server/manifest/views.py
  server/org/admin.py
  server/org/migrations/0001_initial.py
  server/org/migrations/0002_rename_trakorg_org_rename_trakorgaccess_orgaccess.py
  server/org/migrations/0003_orggroupobjectpermission_orguserobjectpermission.py
  server/org/models.py
  server/org/permissions.py
  server/org/serializers.py
  server/org/services.py
  server/org/tests/conftest.py
  server/org/tests/test_models.py
  server/org/tests/test_permissions.py
  server/org/tests/test_services.py
  server/org/tests/test_views.py
  server/org/urls.py
  server/org/views.py
  server/orgsite/__init__.py
  server/orgsite/admin.py
  server/orgsite/apps.py
  server/orgsite/migrations/0001_initial.py
  server/orgsite/migrations/0002_alter_siteaccess_options_sitegroupobjectpermission_and_more.py
  server/orgsite/migrations/0003_alter_sitegroupobjectpermission_options_and_more.py
  server/orgsite/migrations/0004_alter_siteaccess_site_and_more.py
  server/orgsite/migrations/__init__.py
  server/orgsite/models.py
  server/orgsite/serializers.py
  server/orgsite/services.py
  server/orgsite/tests/__init__.py
  server/orgsite/tests/test_models.py
  server/orgsite/tests/test_services.py
  server/orgsite/tests/test_views.py
  server/orgsite/urls.py
  server/orgsite/views.py
  server/profile/serializers/profile.py
  server/profile/services.py
  server/profile/tests/test_serializers.py
Labels: server, test

#753 client logout mutation
  client/src/components/Layout/TopNav/TopNav.tsx
  client/src/store/index.ts
  client/src/store/userSlice/user.slice.ts
Labels: client

#755 fix site select
  client/src/components/Manifest/SiteSelect/SiteSelect.tsx
  client/src/features/NewManifest/NewManifest.spec.tsx
Labels: client

#757 update ts-eslint explicit `any` usage
  client/src/components/Charts/ManifestCountBarChart/ManifestCountBarChart.tsx
  client/src/components/Charts/ManifestStatusPieChart/ManifestStatusPieChart.tsx
  client/src/components/Layout/PrivateRoute.tsx
  client/src/components/Layout/Root.tsx
  client/src/components/Manifest/Handler/Search/RcrainfoSiteSearchBadge.tsx
  client/src/components/Manifest/SiteSelect/SiteTypeSelect.spec.tsx
  client/src/components/Manifest/Transporter/TransporterTable.tsx
  client/src/components/Manifest/WasteLine/HazardousWasteForm/HazardousWasteForm.tsx
  client/src/components/Manifest/WasteLine/HazardousWasteForm/StateWasteCodeSelect.tsx
  client/src/components/Manifest/WasteLine/WasteLineTable/WasteLineTable.tsx
  client/src/components/UI/FloatingActionBtn.tsx
  client/src/components/UI/HtPaginate/HtPaginate.tsx
  client/src/features/NewManifest/NewManifest.tsx
  client/src/hooks/manifest/useSaveManifest/useSaveManifest.tsx
Labels: client
